body {
    background-color: #fafafa;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.app-text-center {
    text-align: 'center';
}

.app-text-error {
    text-align: 'middle';
    color: #dd2c00;
}

.app-login-box {
    width: 320px;
    background-color: #eeeeee;
}

/* Debug Styles */
.debug_border_red {
    border: 1px solid red;
}

.debug_border_green {
    border: 1px solid green;
}

.debug_border_blue {
    border: 1px solid blue;
}
