// ============================================================================
//  Debug styles
// ============================================================================
.debug_border_1 {
    border: 1px solid red;
}

.debug_border_2 {
    border: 1px solid green;
}

.debug_border_3 {
    border: 1px solid blue;
}
