// ============================================================================
//  Styles for the top bar of the page
// ============================================================================

.cs-topbar {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.14);
    z-index: 4;

    .md-button {
        height: 48px;
        span {
            line-height: 48px;
        }
    }

    .cs-avatar {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 8px;
    }

    .cs-logo {
        md-icon {
            width: 32px;
            height: 32px;
        }
        svg, img {
            width: 32px;
            height: 32px;
        }
    }

    .cs-title {
        padding-left: 10px;
    }
}
