extends master-layout

block content
	div.cs-full-height(flex layout='row' layout-fill)
		md-sidenav.md-sidenav-left.md-whiteframe-z2.cs-sidebar-left(flex layout='column' md-is-open='_layout.leftSidebar.isOpen' md-is-locked-open='$mdMedia("gt-sm")' ng-mouseover='setLayoutProperty("leftSidebar.isExpanded", true)' ng-mouseleave='setLayoutProperty("leftSidebar.isExpanded", false)' ng-class='{ "cs-sidebar-expanded": _layout.leftSidebar.isPinned || _layout.leftSidebar.isExpanded }')
			md-toolbar
				div.md-toolbar-tools(layout='row' layout-align='start center')
					div.cs-logo
						md-icon(md-svg-icon='logo')
					h2.cs-title(flex) #{jv_app_title}
					md-button.md-icon-button.cs-action(ng-click='toggleLayoutProperty("leftSidebar.isPinned", true)' aria-label='pin menu bar open' show-gt-sm hide-sm hide-xs)
						md-icon(md-font-set='material-icons') {{ (_layout.leftSidebar.isPinned)? "radio_button_checked": "radio_button_unchecked"  }}
			md-toolbar.md-accent(ng-controller='app.layout.LeftSidebarController')
				div.md-toolbar-tools.cs-menu-container(layout='column' layout-align='start center')
					div.cs-menu-item(ng-repeat='menuItem in menu.childItems | orderBy: "position"' ng-if='menuItem.canRender()')
						md-button(ng-href='{{menuItem.getLink()}}')
							md-icon(flex md-font-set='{{menuItem.fontSet}}') {{menuItem.iconName}}
							span {{menuItem.title}}
		div(flex layout='column')
			md-toolbar.cs-topbar
				div.md-toolbar-tools
					md-button.md-icon-button(ng-click='toggleLayoutProperty("leftSidebar.isOpen")' aria-label='open left sidebar' hide-gt-sm show-sm show-xs)
						md-icon(md-font-set='material-icons') menu
					h2(flex hide-xs)
						span.cs-breadcrumb(ng-repeat='crumb in _breadCrumb.getCrumbs()')
							a(ng-href='{{crumb.getLink()}}' ng-if='crumb.getLink() !== "#"')
								span {{crumb.title}}
							span(ng-if='crumb.getLink() === "#"') {{crumb.title}}
							md-icon(md-font-set='material-icons' ng-if='!$last') chevron_right
					md-button.md-icon-button(ng-click='toggleFullScreen()' aria-label='toggle fullscreen mode' hide-xs)
						md-icon(md-font-set='material-icons') {{ (_layout.isFullScreen)? "fullscreen_exit": "fullscreen"  }}
					md-menu(md-offset='0 48')
						md-button(ng-click='$mdOpenMenu()' aria-label='open user menu')
							img.cs-avatar(ng-src='{{_user.avatar}}')
							span {{_user.firstName}}
						md-menu-content
							md-menu-item
								md-button(ng-href='#{jv_root_path}auth/logout' aria-label='log out')
									md-icon(md-font-set='material-icons') exit_to_app
									span Log out
			block body
