extends layout

block content
	div(flex layout='row' layout-fill layout-align='center center')
		md-whiteframe.app-focus-box.md-whiteframe-10dp(layout='column' layout-padding layout-align='center center')
			span.md-display-1.app-text-center(flex) #{code}
			span.md-body-2.app-text-center(flex) #{primaryMessage}
			span.md-body-1.app-text-center.app-text-error(flex) #{errorInfo}
			span.md-body-1.app-text-center(flex style='min-height: 50px') #{secondaryMessage}
			md-input-container(flex layout='row' layout-align='center center')
				md-button(ng-href='/') home
