// ============================================================================
//  Styles for the top bar of the page
// ============================================================================

.cs-topbar {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
    z-index: 4;

    .cs-avatar {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 8px;
    }

    .cs-title {
        height: 48px;
        min-height: auto !important;

        md-icon {
            width: 32px;
            height: 32px;

            svg, img {
                width: 32px;
                height: 32px;
            }
        }

        span {
            text-transform: none;
        }
    }
}
