// ============================================================================
//  Styles specific to the user profile
// ============================================================================
.cs-avatar-large {
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
}
