<div layout='column'>
	<style>
		.large-button {
			width: 95%;
			text-align: left;
			line-height: 80px;
			min-height: 80px;
			border-radius: 3px;
		}

		.large-button > md-icon{
			padding: 0px;
		}
	</style>
	<div layout='row' layout-wrap layout-margin>
		<div flex='30' flex-sm='45' flex-xs='80'>
			<md-button ui-sref='nodes' layout-padding class='large-button md-raised md-primary md-hue-2' >
				<md-icon md-font-set='material-icons'>device_hub</md-icon>
				<span>View and Manage Nodes</span>
			</md-button>
		</div>
		<div flex='30' flex-sm='45' flex-xs='80'>
			<md-button ui-sref='gateways' layout-padding class='large-button md-raised md-primary md-hue-2' >
				<md-icon md-font-set='material-icons'>grid_on</md-icon>
				<span>View and Manage Gateways</span>
			</md-button>
		</div>
		<div flex='30' flex-sm='45' flex-xs='80'>
			<md-button ui-sref='create_gateway' layout-padding class='large-button md-raised md-primary md-hue-2' >
				<md-icon md-font-set='material-icons'>router</md-icon>
				<span>Create a New Gateway</span>
			</md-button>
		</div>
		<div flex='30' flex-sm='45' flex-xs='80'>
			<md-button ui-sref='create_node' layout-padding class='large-button md-raised md-primary md-hue-2' >
				<md-icon md-font-set='material-icons'>memory</md-icon>
				<span>Create a New Node</span>
			</md-button>
		</div>
		<div flex='30' flex-sm='45' flex-xs='80' ng-if='_user.hasRole("admin")'>
			<md-button ui-sref='account' layout-padding class='large-button md-raised md-primary md-hue-2' >
				<md-icon md-font-set='material-icons'>settings</md-icon>
				<span>Manage Account Settings</span>
			</md-button>
		</div>
	</div>
	<div layout='row'>
		<ui-view></ui-view>
	</div>
</div>
