<div layout='column'>
	<md-content layout-padding>
		<div flex='100' flex-gt-sm='50' class='md-whiteframe-z2'>
			<h3>
				<md-icon md-font-set='material-icons'>sentiment_dissatisfied</md-icon>
				Oops. That was unexpected.
			</h3>
			<p>
				Something went wrong when trying to load the page that you were looking
				for.
			</p>
			<p>
				This may be a temporory problem, in which case you can go back to the
				previous page and try again.
			</p>
			<div>
				<md-button ng-click='goBack()'>
					<md-icon md-font-set='material-icons'>arrow_back</md-icon>
					<span>Back</span>
				</md-button>
			</div>
		</div>
	</md-content>
</div>
